/* Contact page specific styling, mobile adaptation in mobile.css*/

.contact-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.contact-content {
    max-width: 50%;
}
.contact-ul {
    list-style: none;
    padding: 1rem 0;
}
.contact-ul li {
    padding-top: 1rem;
}
.contact-ul a {
    font-size: 1.5rem;
}
.contact-ul .fas, .contact-ul .fab {
    font-size: 1.5rem;
    padding: 0 1rem;
}
.contact-p {
    padding: 1rem;
    line-height: 1.5rem;
}
.contact-pic-div {

    border-radius: 5px;
    margin: 2rem 7rem 2rem 0;
}
.contact-pic-div img {
    max-width: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #CC5500;
}

.moving-arrow {
    color: inherit;
    font-size: inherit;
    transition: transform 0.5s ease;
    padding-left: 0.5rem;
}
.contact-ul a:hover .moving-arrow {
    /* transform: translateX(0.5rem); */
    animation: moveArrow 0.8s linear infinite;
}